*{
    margin: 0 auto;
    padding: 0;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.outer3{
    margin: 0px auto;
}
.outer3 .p1{
    display: block;
    font-size: 24px;
    /*background-color: palegoldenrod;*/
    /*height: 31px;*/
    text-align: center;
    font-weight: bold;
}
.outer3 a{
    color: #000;
}
.outer3 .inter1{
    /*background-color: #cccccc;*/
    font-size: 14px;
    color: #999999;
    text-align: center;
    /*height: 35px;*/
    line-height: 35px;
    /*width: 100%;*/
}
.outer3 .inter2{
    width: 1140px;
    height: 358px;
    margin-top: 15px;
    /*background-color: #e9e9e9;*/
    overflow: hidden;
}
.outer3 .inter2 .left{
    position: relative;
    float: left;
    width: 504px;
    height: 358px;
    margin-bottom: 14px;
    margin-right: 14px;
    overflow: hidden;
}
.outer3 .inter2 .mid{
    width: 411px;
    float: left;
}
.outer3 .inter2 .mid1{
    position: relative;
    width: 411px;
    height: 172px;
    margin-bottom: 14px;
    margin-right: 14px;
    overflow: hidden;
}
.outer3 .inter2 .mid2{
    position: relative;
    width: 411px;
    height: 172px;
    margin-bottom: 14px;
    margin-right: 14px;
    overflow: hidden;
}
.outer3 .inter2 .right{
    position: relative;
    float: right;
    width: 197px;
    height: 358px;
    margin-right: 0;
    overflow: hidden;
}
.outer3 .inter2 .left .border1,.outer3 .inter2 .mid1 .border2,.outer3 .inter2 .mid2 .border3,.outer3 .inter2 .right .border4{
    position: absolute;
    top: 0;
    left: 0;
    width: 99.3%;
    height: 99%;
    border: 2px solid #FFFFFF;
    pointer-events: none;//穿透
}
.outer3 .inter2 .left:hover .border1{
     transform: scale(0.95,.94);
     transition: 0.5s;
 }
.outer3 .inter2 .mid1:hover .border2{
    transform: scale(0.95,.91);
    transition: 0.5s;
}
.outer3 .inter2 .mid2:hover .border3{
    transform: scale(0.95,.9);
    transition: 0.5s;
}
.outer3 .inter2 .right:hover .border4{
    transform: scale(0.9,.95);
    transition: 0.5s;
}
.outer3 .inter2 img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}


.outer3 .inter3{
    width: 1140px;
    height: 167px;
    /*background-color: #cccccc;*/
    margin: 20px auto;
    /*overflow: hidden;*/
}
.outer3 .inter3 ul li{
    float: left;
    list-style: none;
    margin-right: 22px;
    margin-bottom: 22px;
    width: 210px;
    height: 139px;

}
.outer3 .inter3 ul .last{
    margin-right: 0;
}
.outer3 .inter3 ul li .a1{
    display: inline-block;
    border: 1px solid #cccccc;
    width: 208px;
    height: 90px;
    text-align: center;
    /*background-color: #bd2c00;*/
    overflow: hidden;
}
.outer3 .inter3 ul li img{
    height: 88px;
    width: 176px;
    overflow: hidden;
}
.outer3 .inter3 ul li p{
    margin: 15px;
    text-align: center;
    color: #5d5d5d;
    font-size: 14px;
    height: 15px;
}
.outer3 .inter3 ul a:hover img{
    transform: translate(-50px,0);
    transition: 0.5s;
}


